[data-role="board"] {
  border: solid 1px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}
.snake {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.block {
  display: block;
  border-radius: 4px;
}
.food {
  width: 20px;
  height: 20px;
  filter: blur(2px);
  border-radius: 40px;
  animation: blink-animation 0.6s infinite;
  -webkit-animation: blink-animation 0.6s infinite;
  background-color: #fff;
}
@keyframes blink-animation {
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 1;
  }
}
